In [1]:
import pandas as pd
import numpy as np
titanic_survival = pd.read_csv("titanic_train.csv")
titanic_survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
# #NaN = not a number
# age = titanic_survival["Age"]
# age_is_null = pd.isnull(age)#返回的bool值
# #print (age_is_null)
# age_null_true = age[age_is_null]
# #print (age_null_true)
# age_null_count = len(age_null_true)#len()求长度
# print(age_null_count)

In [7]:
# #我们使用空值进行的任何计算都会导致空值
# mean_age = sum(titanic_survival["Age"]) / len(titanic_survival["Age"])
# print (mean_age)

In [13]:
# #过滤掉空值
# good_ages = titanic_survival["Age"][age_is_null == False]
# #print (good_ages)
# #过滤后进行计算
# correct_mean_age = sum(good_ages) / len(good_ages)
print (correct_mean_age)

29.69911764705882

In [14]:
# # pandas方法会自动过滤空值
# correct_mean_age = titanic_survival["Age"].mean()
# print (correct_mean_age)

29.69911764705882

In [7]:
# #计算每个组的平均票价
# passenger_classes = [1, 2, 3]
# fares_by_class = {}#一个字典
# for this_class in passenger_classes:
#     pclass_rows = titanic_survival[titanic_survival["Pclass"] == this_class]
#     pclass_fares = pclass_rows["Fare"]
#     fare_for_class = pclass_fares.mean()
#     fares_by_class[this_class] = fare_for_class
# print (fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [18]:
#pivot_table透视表
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)
print (passenger_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [15]:
passenger_age = titanic_survival.pivot_table(index="Pclass", values="Age")#aggfunc 聚合函数或函数列表,默认为‘mean’
print(passenger_age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [10]:
port_stats = titanic_survival.pivot_table(index="Embarked", values=["Fare","Survived"], aggfunc=np.sum)
print(port_stats)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [11]:
#删除任一具有空值的列/行
drop_na_columns = titanic_survival.dropna(axis=1)
#传入how=’all’滤除全为NaN的行： how="any"表示这一行或列中只要有元素缺失，就删除这一行或列
#thresh = 2:一行或一列中至少出现了thresh个才删除。
#subset=["Age", "Sex"] 删除这两列中有空值的行
new_titanic_survival = titanic_survival.dropna(axis=0,subset=["Age", "Sex"])
#print new_titanic_survival

In [20]:
# #定位某行某列元素
# row_index_3_age = titanic_survival.loc[3,"Age"]
# row_index_1000_pclass = titanic_survival.loc[766,"Pclass"]
# print (row_index_3_age)
# print (row_index_1000_pclass)

In [21]:
# #排序后充值索引
# new_titanic_survival = titanic_survival.sort_values("Age",ascending=False)
# print (new_titanic_survival[0:10])
# titanic_reindexed = new_titanic_survival.reset_index(drop=True)
# print(titanic_reindexed.iloc[0:10])

In [22]:
# # 使用函数返回第100项
# def hundredth_row(column):
#     # Extract the hundredth item
#     hundredth_item = column.iloc[99]
#     return hundredth_item

# # apply执行函数
# hundredth_row = titanic_survival.apply(hundredth_row)
# print (hundredth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

In [15]:
# #返回每列空值的个数
# def not_null_count(column):
#     column_null = pd.isnull(column)
#     null = column[column_null]
#     return len(null)

# column_null_count = titanic_survival.apply(not_null_count)
# print (column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
# #修改值
# def which_class(row):
#     pclass = row['Pclass']
#     if pd.isnull(pclass):
#         return "Unknown"
#     elif pclass == 1:
#         return "First Class"
#     elif pclass == 2:
#         return "Second Class"
#     elif pclass == 3:
#         return "Third Class"

# classes = titanic_survival.apply(which_class, axis=1)
# print (classes)

0       Third Class
1       First Class
2       Third Class
3       First Class
4       Third Class
5       Third Class
6       First Class
7       Third Class
8       Third Class
9      Second Class
10      Third Class
11      First Class
12      Third Class
13      Third Class
14      Third Class
15     Second Class
16      Third Class
17     Second Class
18      Third Class
19      Third Class
20     Second Class
21     Second Class
22      Third Class
23      First Class
24      Third Class
25      Third Class
26      Third Class
27      First Class
28      Third Class
29      Third Class
           ...
861    Second Class
862     First Class
863     Third Class
864    Second Class
865    Second Class
866    Second Class
867     First Class
868     Third Class
869     Third Class
870     Third Class
871     First Class
872     First Class
873     Third Class
874    Second Class
875     Third Class
876     Third Class
877     Third Class
878     Third Class
879     First Class
880    Second Class
881     Third Class
882     Third Class
883    Second Class
884     Third Class
885     Third Class
886    Second Class
887     First Class
888     Third Class
889     First Class
890     Third Class
Length: 891, dtype: object

In [24]:
# def is_minor(row):
#     if row["Age"] < 18:
#         return True
#     else:
#         return False

# minors = titanic_survival.apply(is_minor, axis=1)
# print(minors)
# #将年龄分层
# def generate_age_label(row):
#     age = row["Age"]
#     if pd.isnull(age):
#         return "unknown"
#     elif age < 18:
#         return "minor"
#     else:
#         return "adult"

# age_labels = titanic_survival.apply(generate_age_label, axis=1)
# print (age_labels)

In [18]:
# titanic_survival['age_labels'] = age_labels
# age_group_survival = titanic_survival.pivot_table(index="age_labels", values="Survived")
# print (age_group_survival)

            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785